*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    display: none;
}

/* carousel */

#carousel{
    font-size: 5rem;
    height: 500px;
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carousel .gallery{
    height: 100%;
}

#carousel i.fa-solid{
    position: absolute;
    color: rgb(112, 112, 112);
    border: 5px solid black;
    border-radius: 50%;
    transform: translateY(-50%);
}

#carousel .fa-circle-arrow-left{
    top: 50%;
    left: 0;
}

#carousel .fa-circle-arrow-right{
    top: 50%;
    right: 0;
}

/* utils */

.debug{
    border: 2px dashed black;
}

.container{
    margin: 0 auto;
    width: 90vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active{
    display: block;
}

.d-none{
    display: none;
}